<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <% include elements/meta %>
</head>

<body id="reportsPage">
    <div>
        <% include elements/navbar %>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-white mt-5 mb-5">Chào mừng, <b>quản trị viên</b></p>
                </div>
            </div>
            <!-- row -->
            <div class="row tm-content-row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">Thống kê hôm nay</h2>
                        <canvas id="lineChart"></canvas>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller">
                        <h2 class="tm-block-title">Thống kê tình trạng đơn hàng</h2>
                        <div id="pieChartContainer">
                            <canvas id="pieChart" class="chartjs-render-monitor" width="200" height="200"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                        <h2 class="tm-block-title">Top 10 bán chạy</h2>
                        <div class="tm-product-table-container">
                            <table class="table table-hover tm-table-small tm-product-table">
                                <thead>
                                    <tr>
                                        <th scope="col">TOP</th>
                                        <th scope="col">TÊN SẢN PHẨM</th>
                                        <th scope="col">ĐÃ BÁN</th>
                                        <th scope="col">TỒN KHO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%  let count = 0; %>
                                    <% top10.forEach((item) => { %>
                                    <% count += 1; %>
                                    <tr style="cursor:pointer;" onclick="location.href='/products/edit/<%= item.id %>'">
                                        <td><%= count %></td>
                                        <td class="tm-product-name"><%= item.name %></td>
                                        <td><%= item.sells %></td>
                                        <td><%= item.quantity %></td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include elements/footer %>
    </div>

    <% include elements/scripts %>
    <script src="javascripts/ajax_index.js"></script>
    <script src="javascripts/chart.js"></script>
</body>

</html>