<!DOCTYPE html>
<html lang="en">

<head>
	<title><%= title %></title>
	<% include meta %>
	<% include ../../elements/meta %>
</head>

<body>
	<% include ../../elements/navbar %>

	<div class="container">
		<div class="row tm-content-row">
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
				</br>
				<h2 class="tm-block-title">Biểu đồ quý</h2>
				<div class="row">
					<div class="col-sm-6 col-12">
						<select class="custom-select" name="quarterpicker" id="quarterpicker">
							<option selected disabled hidden>Chọn quý...</option>
							<% for(let i=0;i<4;i++) {%>
							<option value="<%= i %>"><%= (i+1) %></option>
							<% } %>
						</select>
					</div>
					<div class="col-sm-6 col-12">
						<select class="custom-select" name="yearpicker" id="yearpicker">
							<option selected disabled hidden>Chọn năm...</option>
							<% years.forEach( (year) => { %>
							<option value="<%= year %>"><%= year %></option>
							<% }) %>
						</select>
					</div>
				</div>
				<canvas id="lineChart"></canvas>
			</div>
		</div>
		<div class="">
			<table class="table table-hover tm-table-small tm-product-table">
				<thead>
					<tr>
						<th scope="col">THÁNG</th>
						<th scope="col">SỐ LƯỢNG ĐƠN HÀNG</th>
						<th scope="col">TỔNG THU</th>
					</tr>
				</thead>
				<tbody id="analysisCol">
				</tbody>
			</table>
		</div>
	</div>

	<% include ../../elements/footer%>

	<% include scripts %>

	<% include ../../elements/scripts %>
	<script src="javascripts/ajax_report_quarter.js"></script>

</body>

</html>