<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <% include ../../elements/meta %>
</head>

<body>
    <div>
        <% include ../../elements/navbar %>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">MÃ ĐƠN HÀNG</th>
                        <th scope="col">TÀI KHOẢN</th>
                        <th scope="col">TÊN KHÁCH ĐẶT HÀNG</th>
                        <th scope="col">ĐỊA CHỈ</th>
                        <th scope="col">NGÀY ĐẶT</th>
                        <th scope="col">TRẠNG THÁI</th>
                    </tr>
                </thead>
                <tbody>
                    <% const weekDay = ['Chủ nhật', 'Thứ hai', 'Thứ ba', 'Thứ tư', 'Thứ năm', 'Thứ sáu', 'Thứ bảy'] %>
                    <% for(let i=0;i<orders.length;i++) { %>
                    <% const date = new Date(orders[i].createdAt); %>
                    <% const week = date.getDay(); %>
                    <% const day = date.getDate(); %>
                    <% const month = date.getMonth() + 1; %>
                    <% const year = date.getFullYear(); %>
                    <tr>
                        <th scope="row"><b>#<%= orders[i].id %></b></th>
                        <td><b><%= usernames[i].username %></b></td>
                        <td><b><%= orders[i].name %></b></td>
                        <td><b><%= orders[i].address %></b></td>
                        <td><b><%= weekDay[week]%>, <%= day %> tháng <%= month %>, <%= year %></b></td>
                        <td id=<%= orders[i].id %>>
                            <select class="custom-select">
                                <option value="Pending" <%= orders[i].state == "Pending" ? 'selected' : ''%>>
                                    Chưa giao
                                </option>
                                <option value="Delivering" <%= orders[i].state == "Delivering" ? 'selected' : ''%>>
                                    Đang giao
                                </option>
                                <option value="Delivered" <%= orders[i].state == "Delivered" ? 'selected' : ''%>>
                                    Đã giao
                                </option>
                            </select>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    <% include ../../elements/footer %>
    </div>

    <% include ../../elements/scripts %>

    <script src="javascripts/ajax_order.js"></script>
</body>

</html>