<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %></title>
  <% include ../../elements/meta %>
</head>

<body>
  <% include ../../elements/navbar %>
  <div class="container tm-mt-big tm-mb-big">
    <div class="row">
      <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
          <div class="row">
            <div class="col-12">
              <h2 class="tm-block-title d-inline-block">Cập nhật sản phẩm</h2>
            </div>
          </div>
          <div class="row tm-edit-product-row">
            <div class="col-xl-6 col-lg-6 col-md-12">
              <form method="POST" class="tm-edit-product-form">
                <div class="form-group mb-3">
                  <label for="name">Tên sản phẩm
                  </label>
                  <input id="name" name="name" type="text" value="<%= product.name %>" class="form-control validate" />
                </div>
                <div class="row">
                  <div class="form-group mb-3 col-xs-12 col-sm-6">
                    <label for="price">Giá
                    </label>
                    <input id="price" name="price" type="text" value="<%= product.price %>" class="form-control validate" data-large-mode="true" />
                  </div>
                  <div class="form-group mb-3 col-xs-12 col-sm-6">
                    <label for="stock">Số lượng trong kho
                    </label>
                    <input id="quantity" name="quantity" type="text" value="<%= product.quantity %>" class="form-control validate"/>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="group">Phân nhóm</label>
                  <select class="custom-select tm-select-accounts" id="group" name="group">
                    <option selected value=<%= product.groupId %>><%= pInfo.group.name %></option>
                    <% group.forEach((group) => { if (group.id != product.groupId) { %>
                    <option value=<%= group.id %>><%= group.name %></option>
                    <% }}) %>
                  </select>
                </div>
                <div class="form-group mb-3">
                  <label for="type">Phân loại</label>
                  <select class="custom-select tm-select-accounts" id="type" name="type">
                    <option selected value=<%= product.typeId %>><%= pInfo.type.name %></option>
                    <% type.forEach((type) => { if (type.id != product.typeId) { %>
                    <option value=<%= type.id %>><%= type.name %></option>
                    <% }}) %>
                  </select>
                </div>
                <div class="form-group mb-3">
                  <label for="brand">Hãng sản xuất</label>
                  <select class="custom-select tm-select-accounts" id="brand" name="brand">
                      <option selected value=<%= product.brandId %>><%= pInfo.brand.name %></option>
                    <% brand.forEach((brand) => { if (brand.id != product.brandId) { %>
                    <option value=<%= brand.id %>><%= brand.name %></option>
                    <% }}) %>
                  </select>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
              <div class="tm-product-img-edit mx-auto">
                <img src="<%= product.images[0] %>" alt="Product image" class="img-fluid d-block mx-auto">
                <i class="fas fa-cloud-upload-alt tm-upload-icon"
                  onclick="document.getElementById('fileInput').click();"></i>
              </div>
              <div class="custom-file mt-3 mb-3">
                <input id="fileInput" type="file" style="display:none;" />
                <input type="button" class="btn btn-primary btn-block mx-auto" value="THAY ĐỔI ẢNH SẢN PHẨM"
                  onclick="document.getElementById('fileInput').click();" />
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block text-uppercase">Cập nhật</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ../../elements/footer %>

  <% include ../../elements/scripts %>
</body>

</html>