<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %></title>
  <% include ../../elements/meta %>
</head>

<body id="reportsPage">
  <% include ../../elements/navbar %>
  <div class="container mt-5">
    <div class="row tm-content-row">

      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-products">
          <div class="tm-product-table-container">
            <table class="table table-hover tm-table-small tm-product-table">
              <thead>
                <tr>
                  <th scope="col">&nbsp;</th>
                  <th scope="col">TÊN SẢN PHẨM</th>
                  <th scope="col">GIÁ</th>
                  <th scope="col">LƯỢT XEM</th>
                  <th scope="col">SỐ LƯỢNG</th>
                  <th scope="col">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <% products.forEach((product) => { %>
                <tr>
                  <th scope="row"></th>
                  <td onclick="location.href='products/edit/<%= product.id %>'"><%= product.name %></td>
                  <td onclick="location.href='products/edit/<%= product.id %>'"><%= product.price %></td>
                  <td onclick="location.href='products/edit/<%= product.id %>'"><%= product.views %></td>
                  <td onclick="location.href='products/edit/<%= product.id %>'"><%= product.quantity %></td>
                  <td>
                    <a href="/products/delete/<%= product.id %>" class="tm-product-delete-link"
                      onclick="return confirm('Bạn có chắc muốn XÓA sản phẩm <<%= product.name %>>\n Bấm OK để xóa')">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
          <!-- table container -->
          <a href="/products/add" class="btn btn-primary btn-block text-uppercase mb-3">THÊM SẢN PHẨM MỚI</a>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
          <h2 class="tm-block-title">Hãng sản xuất</h2>
          <div class="tm-product-table-container">
            <table class="table tm-table-small tm-product-table">
              <tbody>
                <% brand.forEach((brand) => { %>
                <tr>
                  <td class="tm-product-name"><%= brand.name %></td>
                  <td class="text-center">
                    <a href="#" class="tm-product-delete-link">
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
          <!-- table container -->
          <button class="btn btn-primary btn-block text-uppercase mb-3">
            Thêm loại mới
          </button>
        </div>
      </div>
    </div>
  </div>
  <% include ../../elements/footer %>

  <% include ../../elements/scripts %>
</body>

</html>